<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Address</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentList">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.birthday | date: 'dd/mm/yyyy'}} </td>
    <td>{{student.email}}</td>
    <td ><a routerLink="/student-edit/{{student.id}}">Edit</a></td>
    <td ><a routerLink="" (click)="deleteStudent(student.id)" >DELETE</a></td>
  </tr>
  </tbody>
</table>
